# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

generate-data/cache/au-cinema/*
!generate-data/cache/au-cinema/.gitkeep
generate-data/cache/fiche-film/*
!generate-data/cache/fiche-film/.gitkeep
generate-data/cache/geo-sceance/*
!generate-data/cache/geo-sceance/.gitkeep
generate-data/cache/tmdb/*
!generate-data/cache/tmdb/.gitkeep
