<div *ngIf="movie">
  <div class="img-wrapper" (click)="onInfoClick()">
    <img
      [src]="movie.poster"
      class="poster"
      ImagePreloadDirective
      [default]="movie.name"
    />
    <div class="movie-name">{{ movie.name }}</div>
  </div>
  <div class="notes">
    <span class="critics"
      >{{ criticsRating }} <img src="assets/icons/pen.svg"
    /></span>
    <span class="public"
      >{{ publicRating }} <img src="assets/icons/people.svg"
    /></span>
    <span class="year">{{ year }} <img src="assets/icons/calendar.svg" /></span>
  </div>
  <div class="external-links">
    <a [href]="movie.url" class="button" target="_blank">Séances</a>
    <a class="button" (click)="onInfoClick()">Infos</a>
  </div>
</div>
