:host {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.notes {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  span {
    padding: 5px;
    img {
      display: inline-block;
      position: relative;
      top: -0.3em;
    }
  }
}

.external-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 8px;
}
