<header>
  <h1>Wovie</h1>
  <app-dropdown-select
    [options]="dateOption"
    (optionSelected)="onReleaseDateSelected($event)"
  ></app-dropdown-select>
  <div class="button" (click)="toggleFilter()">Filtrer par langues</div>
</header>
<app-language-filter [ngClass]="{ hidden: !showLangFilter }">
</app-language-filter>
<app-movie-info-modal
  *ngIf="movieToShowInModale"
  [movie]="movieToShowInModale"
  (closeMovieInfoModale)="closeMovieInfoModale()"
></app-movie-info-modal>
<div class="movie-list">
  <app-movie-box
    *ngFor="let movie of moviesLoaded$ | async"
    [movie]="movie"
    (openMovieModale)="openMovieInfoModale($event)"
  ></app-movie-box>
</div>
