:host(:hover) {
  cursor: pointer;
  .interaction {
    opacity: 0.8;
  }
}
:host {
  position: relative;
  img {
    height: 30px;
    border-radius: 2px;
    min-width: 40px;
  }
  .defaultFlag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 2px;
    width: 40px;
    background-color: beige;
  }
  .interaction {
    opacity: 0.6;
  }
  &.selected .interaction {
    opacity: 1;
  }
  &.selected img {
    margin: -2px;
    border: 2px solid rgba($color: #fff, $alpha: 0.8);
  }
  &.selected .defaultFlag {
    margin: -2px;
    border: 2px solid rgba($color: #fff, $alpha: 0.8);
  }
}
